<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon [routerLink]="'/user'">account_circle</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon [routerLink]="'/post'">forum</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon [routerLink]="'/tag'">loyalty</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
<router-outlet ></router-outlet>
</div>
<ng-http-loader [backgroundColor]="'#673ab7'"></ng-http-loader>
