<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>UserMacroad</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon [routerLink]="'/user'">person</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon [routerLink]="'/post'">email</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon [routerLink]="'/tag'">label</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<ng-http-loader></ng-http-loader>
