<div class="card-container" *ngFor="let UserPostData of userData.data">
  <mat-card class="example-card">
    <mat-card-header>
      <div
        mat-card-avatar
        class="example-header-image"
        style="--url: url({{ UserPostData.owner.picture }})"
      ></div>
      <mat-card-title
        >{{ UserPostData.owner.firstName }}
        {{ UserPostData.owner.lastName }}</mat-card-title
      >
      <mat-card-subtitle>{{ UserPostData.owner.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ UserPostData.message }}
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
