<div class="card-container" *ngIf="userData">
  <mat-card>
    <img class="image-container" mat-card-image src="{{ userData.picture }}" />
  </mat-card>
  <mat-card>ID : {{ userData.id }}</mat-card>
  <mat-card> First Name : {{ userData.firstName }}</mat-card>
  <mat-card>Last Name : {{ userData.lastName }}</mat-card>
  <mat-card>Email : {{ userData.email }}</mat-card>
  <mat-card>Gender : {{ userData.gender }}</mat-card>
  <mat-card>Date of Birth : {{ userData.dateOfBirth }}</mat-card>
  <mat-card>Title : {{ userData.title }}</mat-card>
  <mat-card>Phone : {{ userData.phone }}</mat-card>
  <mat-card>Register Date :{{ userData.registerDate }}</mat-card>
</div>
