<div class="card-container">
  <div *ngFor="let UserData of UsersList.data">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="{{ UserData.picture }}"
        alt="Photo of {{ UserData.firstName }} {{ UserData.lastName }}"
      />
      <mat-card-header>
        <mat-card-title
          >{{ UserData.firstName }} {{ UserData.lastName }}</mat-card-title
        >
        <mat-card-subtitle>{{ UserData.email }}</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button [routerLink]="['/user/', UserData.id]">
          View Profile
        </button>
        <button mat-button [routerLink]="['/post/', UserData.id]">
          View Post
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="left">
  <div *ngIf="UsersList.data">
    <mat-chip
      *ngIf="UsersList.page > 0"
      (click)="onPrev()"
      color="primary"
      selected
      >Prev</mat-chip
    >
  </div>
</div>

<div class="right">
  <mat-chip-list>
    <mat-chip
      *ngIf="UsersList.page <= 3"
      (click)="onNext()"
      color="primary"
      selected
      [routerLink]="['/user']"
      >Next</mat-chip
    >
  </mat-chip-list>
</div>
