/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #0071de;
  --primary-light: #1671c8;
}

html,
body {
  background-image: url("../src/assets/icons/background.png");
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
