/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #0071de;
}

html,
body {
  background-image: url("../src/assets/icons/background.png");
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
